DB_URI=postgres://notification_user:notification_password@localhost:5435/notification?sslmode=disable
KAFKA_BROKERS=localhost:9093
KAFKA_TOPIC=user-registered
KAFKA_GROUP_ID=notification-group

LOGGER_LEVEL=info
LOGGER_AS_JSON=false

EVENT_TTL=15m
CLEANUP_INTERVAL=1h
RETENTION_PERIOD=168h
