GATEWAY_HTTP_PORT=:8080
AUTH_GRPC_ADDR=localhost:50051
ARTICLE_GRPC_ADDR=localhost:50052
JWT_SECRET=secret

LOGGER_LEVEL=info
LOGGER_AS_JSON=false

OTEL_COLLECTOR_ENDPOINT=localhost:4317
OTEL_SERVICE_NAME=gateway
OTEL_ENVIRONMENT=local
OTEL_SERVICE_VERSION=0.1.0
